{% load staticfiles %}
<html >
<head>
    <title>Jalandhar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<nav>
    <ul class="menu">
        <li class="menu_item"><a href="/home/">home</a></li>
        <li class="menu_item"><a href="/services/">services</a></li>
        <li class="menu_item"><a href="/enquiry/">enquiry</a></li>
        <li class="menu_item"><a href="/gallery/">gallery</a></li>
        <li class="menu_item"><a href="/feedback/">feedback</a></li>
    </ul>
</nav>
<br>
<h1 style="text-align: center; color: red; font-size: 50px">Welcome to Jalandhar Club</h1>
{% block containt %}

{% endblock %}
<br><br><br><br>
<br><br><br><br>

<footer>
    <h5 id="footer" style="text-align: center; color: blue">@copy; copyrights by vinay</h5>
</footer>

</body>
</html>