{% extends 'base.html' %}
<html >
<head>
    <title>Enquiry Page</title>
</head>
<body>
{% block containt %}
    <style>
    body{
        background-color: darkkhaki;
    }
    </style>
    <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ eform }}
                <center><br>
                    <input type="submit" value="Submit" class="btn btn-success">
                    <input type="reset" value="Cancel" class="btn btn-danger">
                </center>
            </form>
        </div>

    </div>
    </div>
{% endblock %}

</body>
</html>