{% extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
{% block containt %}
    <style>
    body{
        background-color: skyblue;
    }
    </style>
    <h1 style="font-size: 30px; color: blue">About Organization:</h1>
    <p style="color: green">Jalandhar formed in 2015,jalandhar is a committee. it is famous club of katni(M.P)<br>
    jalandhar is also a cricket team.Jalandhar group keeps ganesha every year</p>
    <h1 style="font-size: 30px; color: blue">Founder:</h1>
    <p style="color: red">Rahul Choubey and jalandhar members</p>
{% endblock %}
</body>
</html>