body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 20px;
    height: 100vh;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu .menu_item
{
    float: left;
    width: 269px;
    height: 40px;
    background-color: black;
    opacity: .8;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-transform:uppercase;

}
ul li a{
    text-decoration: none;
    color: yellow;
    display: block;

}
ul li a:hover{
    background-color: green;
}
footer{
    bottom: 0;
    position: fixed;
    width:100%;
    height:8.2%;
}
footerh1 {
    text-align: center;
    line-height: 0.6;
    background-color: black;
    color: #3875d7;
    position: relative;
    margin-top: 15px;
    padding: 15px;
}